.carro {
    font-size: 2em;
    display: flex;
    align-items: center;
    color: rgb(179, 119, 71);
<<<<<<< HEAD
    margin: 0 1em;
=======
    margin: 0 2em;
>>>>>>> 7628762196b415f289c8c7ca39e11235c6955055
}
