.rounded {
    border-radius: 8px; /* Ajusta el radio de los bordes redondeados según tu preferencia */
}

.imgCart {
    max-width: 100%; /* Hace que las imágenes sean responsivas, adaptándose al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}
.imgCart {
    max-width: 120px; /* Reducir el tamaño máximo de las imágenes */
    height: auto; /* Mantener la proporción de aspecto */
    border-radius: 8px; /* Bordes redondeados */
    margin: 10px;
}
.rounded {
    border-radius: 8px;
}

.imgCart {
    max-width: 120px;
    height: auto;
    border-radius: 8px;
    margin: 10px;
}
