.navbar-brand .rounded-logo {
    width: 50px; /* Ajusta el tamaño del logo según sea necesario */
    height: 50px; /* Ajusta el tamaño del logo según sea necesario */
    border-radius: 50%;
    overflow: hidden;
}

.navbar-brand .rounded-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-link {
    color: #333; /* Color de texto */
    font-weight: bold; /* Negrita */
    padding: 10px 15px; /* Espaciado */
}

.nav-link:hover {
    color: #FF520D; /* Color de texto al pasar el ratón */
}

.navbar-toggler {
    border-color: #E8D8CF; /* Color del borde del toggle */
}

.navbar-toggler-icon {
    background-color: #FF8E5E; /* Color de fondo del ícono del toggle */
}

.navbar-collapse {
    justify-content: center; /* Centra los elementos del navbar en collapse */
}

.navbar {
    background-color: #c07c57 !important; /* Color de fondo del navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}
