.containerNav{
    margin: 0 auto;
    height: 60px;
    width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    
    
}
a{
    padding: 1.5em;
}

.linksContainer a{
    font-size: 80%;
    color: rgb(179, 119, 71);
}
.active{
    background-color: rgb(57, 60, 63);
    border-radius: 30%;
}