/* Footer.css */
.fot{
    background-color: #c07c57;
}
.rounded-logo {
    width: 50px; /* Ajusta el tamaño según sea necesario */
    height: 50px; /* Ajusta el tamaño según sea necesario */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounded-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-icons a {
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #b86630; /* Color de hover, puedes ajustarlo */
}
