/* Products.css */

.container {
    padding: 20px; /* Espaciado interno */
}

.filter {
    margin-bottom: 20px; /* Margen inferior */
}

.nav-link {
    color: #333; /* Color de texto */
    font-weight: bold; /* Negrita */
    padding: 10px 15px; /* Espaciado */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave */
}

.nav-link:hover {
    background-color: #FF8E5E; /* Color de fondo al pasar el ratón */
    color: #fff; /* Color de texto al pasar el ratón */
}

.item-list-container {
    margin-top: 20px; /* Margen superior */
}

